*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background: #e2d4e0;
}

.container {
  margin-top: 50px;
}

.note {
  font-size: 30px;
}

.note p{
  text-align: center;
  margin-bottom: 4px;
  color: #FFF;

}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #4c5372;
  border-radius: 8px;
  box-shadow: 0px 7px 29px 0px #e053cb;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

.input-group {
  margin-bottom: 30px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef !important; /* Add !important */
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  border: 3px solid #b095f0;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
  background-color: #e8eeef !important; /* Add !important */
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
}
.form-btn {
  display: block; /* Change display to block */
  margin: 0 auto; /* Center align horizontally */
  padding: 4px 7px;
  background-color: #e053cb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.form-btn:hover {
  background-color: #b095f0;
}

.container1{
  text-align: center;
}
.container1 p{
  margin-top: 10px;
  text-decoration: none;
  color: #fff;
}
.container1 a{
  text-decoration: none;
  color: #fff;
}